# General
.DS_Store
.idea/
.vscode/
*.log
tmp/

# App Data
*.db
*.sqlite
diary.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Frontend Build
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend Build
Backend/main
*.exe
*.test
*.out
vendor/

# Docker
docker-compose.override.yml
